DATABASE_URL=postgres://user:password@localhost:5432/dbname
JWT_SECRET=replace-with-a-long-random-secret
FRONTEND_ORIGIN=http://localhost:5173
HOST=0.0.0.0
PORT=8080
RUST_LOG=urlvibe_rs=debug,tower_http=info
APP_ENV=development
COOKIE_SECURE=false
COOKIE_SAME_SITE=none #for local dev



# for production
# APP_ENV=production
# COOKIE_SECURE=true
# COOKIE_SAME_SITE=none. #for frontend and backend running on different domains
